#div-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid salmon;
    align-content: flex-start;

}

#box {
    border: 1px solid black;
    margin: 0;
    height: 1em;
    width: 1em;
}

h1 {
    text-align: center;
}

.cont {
    display: flex;
    flex-wrap: wrap;

    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid salmon;
    align-content: flex-start;
}

.grid {
    border: 1px solid black;
    height: 2em;
    width: 2em;
}